@font-face {
  font-family: "cindie";
  src: url("./assets/Cindie2-N.woff");
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}
.logo {
  max-width: 200px;
  padding: 5px;
  cursor: pointer;
}
.viewcode {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: "cindie";
  transition: 0.3s font-size ease-in-out;
}
.viewcode:hover{
  font-size: 20px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
 
}
.lbody {
  display: flex;
  flex-direction: column;
  
}
.pinfo,
.einfo,
.exinfo,
.prinfo {
  display: flex;
  flex-direction: column;
  font-family: "cindie";
  font-optical-sizing: auto;
}
legend{
  font-family: "cindie";
  font-optical-sizing: auto;
}
input{
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.507);
  padding: 5px;
  background-color: #55555542;
  color: white;
  max-width: 300px;
  transition: border 0.3s;
}
input:hover{
  border: 1px solid rgba(0, 128, 0, 0.589);
}
fieldset{
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  border: 0.1px solid rgba(128, 128, 128, 0.493);
}
form{
  padding: 10px;
}
label{
  padding: 5px;
}
.page {
  background-color: white;
  width: 210mm; 
  height: 297mm; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 20px;

  top: 70px;
  left: 0;
  right: 0;
  color: black;
}

.pcont{
  
  width: 100%; 
  padding: 20px; 
}
.page{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.rp{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
  gap: 10px;
}
.rcont{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.rcont div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.rname{
  font-size: 40px;
  color: rgb(10, 65, 87);
}

.rp,.red,.rex,.rpr{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
.call{
  height: 10px;
}
.mail{
  height: 15px;
}
.location{
  height: 10px;
}
.loca{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.rab{
  padding: 10px;
  font-size: 18px;
}
.title{
  font-size: 35px;
  padding: 5px;
  color: rgb(10, 65, 87);
}
.redname{
  display: flex;
  justify-content: space-between;
}
.edtime{
  display: flex;
  gap: 10px;
}
.edloc{
  display: flex;
  gap: 10px;
  font-size: 15px;
  padding-top: 5px;
}
.rexn{
  display: flex;
  justify-content: space-between;
}
.extime{
  display: flex;
  gap: 10px;
}
.exdesc{
  padding-top: 5px;
}
.rpr{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.export{
  background-color: #dc5c30;
  color: white;
  border-radius: 15px;
  font-family: "cindie";
  padding: 5px;
}